---
import { IconArrowDownRight } from "~/components/icons";
const {} = Astro.props;
---

<div class="px-4 py-16 mx-auto max-w-6xl lg:py-20">
  <div class="max-w-xl sm:mx-auto lg:max-w-2xl">
    <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
      <h2
        class="text-black dark:text-white max-w-lg mb-4 font-sans text-3xl font-bold leading-none tracking-tight sm:text-4xl md:mx-auto"
      >
        FAQ
      </h2>
    </div>
  </div>
  <div class="max-w-screen-xl sm:mx-auto">
    <div class="grid grid-cols-1 gap-8 lg:gap-16 row-gap-8 md:grid-cols-2">
      <div class="space-y-8">
        <div>
          <p class="mb-4 text-xl font-bold">
            <IconArrowDownRight class="w-7 h-7 text-blue-500 inline-block" />
            Em quais casos não são aplicáveis o conceito de Human Skills First?
          </p>
          <p class="text-gray-700 dark:text-gray-400 mb-2">
            Profissionais bons tecnicamente para uma atividade específica e ao
            mesmo tempo ter ótimas habilidades humanas quase sempre são bem
            difíceis de ser encontrados disponíveis, normalmente já estão
            empregados ou tem algum projeto pessoal/empreendedor.
          </p>
          <p class="text-gray-700 dark:text-gray-400 mb-2">
            Neste caso, o plano de ação seria focado no desenvolvimento das
            habilidades humanas deste profissional, com um bom plano de estudo
            estruturado visando o acompanhamento da evolução e feedbacks.
          </p>
        </div>
      </div>
      <div class="space-y-8">
        <div>
          <p class="mb-4 text-xl font-bold">
            <IconArrowDownRight class="w-7 h-7 text-blue-500 inline-block" />
            Porque Human e não Soft Skills?
          </p>
          <p class="text-gray-700 dark:text-gray-400 mb-2">
            Os termos Soft Skills e Hard Skills, surgiram em 1972 em manuais de
            treinamento das Forças Armadas dos Estados Unidos. Onde treinavam o
            desenvolvimento das <i>Soft Skills</i>, para humanizar os militares.
          </p>
          <p class="text-gray-700 dark:text-gray-400 mb-2">
            Enquanto <i>Hard Skills</i> são habilidades técnicas específicas, atirar,
            pilotar, etc. Soft Skills, que significa "habilidades suaves" em Inglês,
            representavam habilidades como Comunicação, Resiliência, Organização.
            Porém hoje, os termos <i>Human Skills (Habilidades Humanas)</i> ou People
            Skills, já são muito utilizados por representar melhor o sentido da palavra,
            que não necessáriamente são "habilidades suaves".
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
