---
import {
  IconTwitter,
  IconInstagram,
  IconFacebook,
  IconArrowRight,
  IconRSS,
} from "~/components/icons";
const {} = Astro.props;
---

<footer>
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="md:flex md:items-center md:justify-between py-4 md:py-8">
      <div class="text-sm text-gray-700 mr-4 dark:text-slate-400">
        <p>
          Idealizado por <a href="">Paolo</a>, construido por <a href=""
            >People Lovers
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
