---
---

<span
  class="self-center ml-2 text-2xl font-extrabold text-gray-900 whitespace-nowrap dark:text-white"
>
  human
</span>
<span
  class="self-center text-2xl font-extrabold text-violet-700 whitespace-nowrap dark:text-violet-400"
>
  skills
</span>
<span
  class="self-center text-2xl font-extrabold text-gray-900 whitespace-nowrap dark:text-white"
>
  first_
</span>
