<div class="py-3 px-3 mx-auto max-w-6xl md:px-4">
  <h1 class="tracking-tighter bold text-3xl mt-4">Tabela de conteúdos</h1>
  <ul
    role="list"
    class="space-y-10 grid grid-cols-1 lg:grid-cols-4 text-sm leading-6 text-slate-700 lg:-mt-16 lg:py-16 lg:pr-8 lg:[mask-image:linear-gradient(to_bottom,transparent,white_4rem,white)]"
  >
    <li class="mt-12 lg:mt-10">
      <h5 class="mb-8 lg:mb-3 font-semibold text-slate-900 dark:text-slate-200">
        Comece por aqui
      </h5><ul
        class="space-y-6 lg:space-y-2 border-l border-slate-100 dark:border-slate-800"
      >
        <li>
          <a
            class="block border-l pl-4 -ml-px border-transparent hover:border-slate-400 dark:hover:border-slate-500 text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300"
            href="/doc/inicio#o-que-e"
            >O que é?
          </a>
        </li>
        <li>
          <a
            class="block border-l pl-4 -ml-px border-transparent hover:border-slate-400 dark:hover:border-slate-500 text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300"
            href="/doc/inicio#missao-e-proposito"
            >Missão e propósito
          </a>
        </li><li>
          <a
            class="block border-l pl-4 -ml-px border-transparent hover:border-slate-400 dark:hover:border-slate-500 text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300"
            href="/doc/inicio#por-que"
            >Porque?
          </a>
        </li><li>
          <a
            class="block border-l pl-4 -ml-px border-transparent hover:border-slate-400 dark:hover:border-slate-500 text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300"
            href="/doc/inicio#pra-quem"
            >Pra quem?
          </a>
        </li><li>
          <a
            class="block border-l pl-4 -ml-px border-transparent hover:border-slate-400 dark:hover:border-slate-500 text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300"
            href="/doc/inicio#objetivos"
            >Objetivos
          </a>
        </li>
        <li>
          <a
            class="block border-l pl-4 -ml-px border-transparent hover:border-slate-400 dark:hover:border-slate-500 text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300"
            href="/doc/inicio#referencias"
            >Projetos referências
          </a>
        </li>
      </ul>
    </li>

    <li class="mt-12 lg:mt-8">
      <h5 class="mb-8 lg:mb-3 font-semibold text-slate-900 dark:text-slate-200">
        Para a Empresa
      </h5><ul
        class="space-y-6 lg:space-y-2 border-l border-slate-100 dark:border-slate-800"
      >
        <li>
          <a
            class="block border-l pl-4 -ml-px border-transparent hover:border-slate-400 dark:hover:border-slate-500 text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300"
            href="/docs/empresa#strategic"
            >[S]trategic
          </a>
        </li><li>
          <a
            class="block border-l pl-4 -ml-px border-transparent hover:border-slate-400 dark:hover:border-slate-500 text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300"
            href="/docs/empresa#trackable"
            >[T]rackable
          </a>
        </li><li>
          <a
            class="block border-l pl-4 -ml-px border-transparent hover:border-slate-400 dark:hover:border-slate-500 text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300"
            href="/docs/empresa#applicable"
            >[A]pplicable
          </a>
        </li><li>
          <a
            class="block border-l pl-4 -ml-px border-transparent hover:border-slate-400 dark:hover:border-slate-500 text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300"
            href="/docs/empresa#retention"
            >[R]etention
          </a>
        </li><li>
          <a
            class="block border-l pl-4 -ml-px border-transparent hover:border-slate-400 dark:hover:border-slate-500 text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300"
            href="/docs/empresa#techrower"
            >[T]echPower
          </a>
        </li>
      </ul>
    </li>
    <li class="mt-12 lg:mt-8">
      <h5 class="mb-8 lg:mb-3 font-semibold text-slate-900 dark:text-slate-200">
        Para o Profissional <span class="text-violet-700 em-breve"
          >Em breve
        </span>
      </h5><ul
        class="space-y-6 lg:space-y-2 border-l border-slate-100 dark:border-slate-800"
      >
        <li>
          <a
            class="block border-l pl-4 -ml-px border-transparent hover:border-slate-400 dark:hover:border-slate-500 text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300"
            href="#"
            >Importância das Human Skills?
          </a>
        </li><li>
          <a
            class="block border-l pl-4 -ml-px border-transparent hover:border-slate-400 dark:hover:border-slate-500 text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300"
            href="#"
            >Dicionário de Human Skills
          </a>
        </li>

        <li>
          <a
            class="block border-l pl-4 -ml-px border-transparent hover:border-slate-400 dark:hover:border-slate-500 text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300"
            href="#"
            >Como desenvolver?
          </a>
        </li>
      </ul>
    </li>

    <li class="mt-12 lg:mt-8">
      <h5 class="mb-8 lg:mb-3 font-semibold text-slate-900 dark:text-slate-200">
        Como contribuir
      </h5><ul
        class="space-y-6 lg:space-y-2 border-l border-slate-100 dark:border-slate-800"
      >
        <li>
          <a
            class="block border-l pl-4 -ml-px border-transparent hover:border-slate-400 dark:hover:border-slate-500 text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300"
            href="/docs/installation"
            >Contribuindo com o projeto
          </a>
        </li><li>
          <a
            class="block border-l pl-4 -ml-px border-transparent hover:border-slate-400 dark:hover:border-slate-500 text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300"
            href="/docs/editor-setup"
            >Colaboração
          </a>
        </li><li>
          <a
            class="block border-l pl-4 -ml-px border-transparent hover:border-slate-400 dark:hover:border-slate-500 text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300"
            href="/docs/using-with-preprocessors"
            >Instalando o projeto
          </a>
        </li><li>
          <a
            class="block border-l pl-4 -ml-px border-transparent hover:border-slate-400 dark:hover:border-slate-500 text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300"
            href="/docs/using-with-preprocessors"
            >Abrindo um Pull Request
          </a>
        </li>
        <li>
          <a
            class="block border-l pl-4 -ml-px border-transparent hover:border-slate-400 dark:hover:border-slate-500 text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300"
            href="/docs/optimizing-for-production"
            >Enviando a contribuição
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>

<style>
  .table-of-contents li {
    list-style: none;
  }
  .em-breve {
    font-size: 12px;
    text-transform: uppercase;
  }
</style>
