---
const {} = Astro.props;
---

<section>
  <div class="max-w-6xl mx-auto px-4 sm:px-6 overflow-hidden">
    <div class="py-12 md:py-20">
      <div class="py-4 sm:py-6 lg:py-8">
        <div class="flex flex-wrap md:-mx-8">
          <div class="w-full lg:w-1/2 px-0 sm:px-8">
            <div class="mb-12 lg:mb-0 pb-12 lg:pb-0 border-b lg:border-b-0">
              <h2 class="mb-4 text-3xl lg:text-4xl font-bold font-heading">
                Open Source Culture Framework - START
              </h2>
              <div class="mb-12 text-xl text-gray-600 dark:text-slate-400">
                O <strong>START</strong> é um Framework de Cultura de Código Aberto,
                e tem o propósito democratizar uma cultura ganha-ganha e escalável
                pra Empresa e pro Profissional. De um lado fornecendo um caminho
                e ferramentas pra <strong>Aplicar</strong>, <strong
                  >Metrificar
                </strong> e <strong>Escalar</strong> a evolução, retenção e capacitação
                dos profissionais para a empresa. E do outro lado, contribuindo com
                a formação e inserção de novos profissionais no mercado de trabalho.
              </div>
            </div><div class="mb-12 text-xl text-gray-600 dark:text-slate-400">
            </div>
          </div><strong class="mb-12 text-xl text-gray-600 dark:text-slate-400">
          </strong>
        </div><strong class="mb-12 text-xl text-gray-600 dark:text-slate-400">
        </strong>
      </div><strong class="mb-12 text-xl text-gray-600 dark:text-slate-400">
      </strong>
    </div><strong class="mb-12 text-xl text-gray-600 dark:text-slate-400">
    </strong>
  </div><strong class="mb-12 text-xl text-gray-600 dark:text-slate-400">
  </strong>
</section><strong class="mb-12 text-xl text-gray-600 dark:text-slate-400">
</strong>
