---
const {} = Astro.props;
---

<section>
  <div class="max-w-12xl mx-auto px-4 sm:px-6 overflow-hidden">
    <div class="py-12 md:py-20">
      <div class="py-4 sm:py-6 lg:py-8">
        <div class="flex flex-wrap md:-mx-8">
          <div class="w-full px-0 sm:px-8 max-w-xl md:mx-auto lg:max-w-6xl">
            <div class="mb-12 lg:mb-0 pb-12 lg:pb-0 border-b lg:border-b-0">
              <h2 class="mb-4 text-3xl lg:text-4xl font-bold font-heading">
                Human Skills First
              </h2>
              <h3>Hard Skills x Human Skills</h3>
              <div class="mb-12 text-xl text-gray-600 dark:text-slate-400">
                Primeiro é importante saber o que são <s>Soft</s> Human Skills. E
                pra simplificar, são habilidades comportamentais ou humanas que desenvolvemos
                ao longo da vida, desde nossa primeira infância. Como Assim? <br
                /><br />
                Habilidades como Comunicar-se, Trabalhar em Equipe, Autoaprendizagem
                e Colaboratividade por exemplo são é o movimento onde o mindset é
                baseado nos valores humanos, ou seja, valorizada as habilidades humanas
                das pessoas, Traduzindo pro português, Habilidades Humanas Primeiro,
                não é apenas um Mindset, mas sim um Movimento, onde que tem como
                base os valores humanos e convida as Empresas e Desenvolvedores,
                a cuidarem das suas human skills mais que das hard skills. Traduzindo
                pro português, Habilidades Humanas Primeiro, não é apenas um Mindset,
                mas sim um Movimento, onde entende-se que as Hard Skills são importantes
                porém podem ser desenvolvidas mais facilmente do que as Human Skills,
                que tem como base os valores humanos. <br />

                Um exemplo simples, é uma sugestão de abordagem usando o mindset <strong
                >
                  Human Skills First
                </strong> em uma Matriz de Decisão na contratação de um profissional:
                <br /><br />

                Hard Skills BOM + Human Skills BOM = primeira preferência <br />
                Hard Skills MÉDIO + Human Skills BOM = segunda preferência <br
                />
                Hard Skills BOM + Human Skills MÉDIO = terceira preferência <br
                />

                <br />
                Você já deve ter se deparado por aí com a frase: <br />
                "Contrate caráter, treine habilidades" - Peter Schutz <br />

                Estudos mostram que nos dias de hoje ter uma pessoa muito boa
                tecnicamente, porém que é tóxica ou desmotiva o time é um
                prejuízo grande, e pode ser muito maior quando envolve o nome da
                marca. Enquanto, uma pessoa mediana tecnicamente mas com bons
                traços relacionais e boas habilidades sócio-emocionais, seus
                pares de time, ou até mesmo uma trilha de aprendizado bem
                estruturada poderiam facilmente guiá-la para o que precisa ser
                aprendido. E seu gestor acompanha sua evolução. Mas não é regra.
                Como tudo, não tem bala de prata. Terão cenários, que é
                necessário uma habilidade específica para atender uma demanda
                específica da empresa, e esse será o principal fator de escolha
                na matriz de decisão.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
