---
const {} = Astro.props;
---

<section
  id="start"
  class="px-4 py-20 mx-auto max-w-6xl lg:px-8 lg:py-40 bg-blue-10 dark:bg-slate-900/40"
>
  <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
    <!-- <p
      class="text-base text-blue-600 dark:text-blue-200 font-semibold tracking-wide uppercase"
    >
      EM BREVE!
    </p> -->
    <h2
      class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 text-black dark:text-white"
    >
      Conheça o <span
        class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-pink-500 whitespace-nowrap"
      >
        #START
      </span>
    </h2>
    <p
      class="max-w-3xl mx-auto sm:text-center text-xl text-gray-600 dark:text-slate-400"
    >
      Baseado no mindset <strong class="text-black dark:text-white"
        >Human Skills First
      </strong>, o <span
        class="bg-clip-text font-bold text-transparent bg-gradient-to-r from-blue-500 to-pink-500 whitespace-nowrap"
        >HSF # START
      </span> é um Framework que facilita a construção de uma cultura de times de
      tecnologia escaláveis, inclusivos e colaborativos. Incentivando uma estrutura
      inicial para a implementação de boas práticas e ferramentas para o desenvolvimento
      e qualidade técnica do time.<br /><br />
    </p>
  </div>
  <div class="grid mx-auto space-y-6 md:grid-cols-2 md:space-y-0">
    <div class="space-y-8 sm:px-8">
      <div class="flex flex-row max-w-md">
        <div class="mb-4 mr-4">
          <div
            class="flex items-center justify-center w-12 h-12 rounded-full bg-violet-500"
          >
            <svg
              class="w-12 h-12 p-0.5"
              viewBox="0 0 64 64"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g fill="none" fill-rule="evenodd">
                <rect
                  class="fill-current text-violet-700"
                  width="64"
                  height="64"
                  rx="32"></rect>
                <g stroke-linecap="square" stroke-width="2">
                  <path
                    class="stroke-current text-white"
                    d="M20.571 20.571h13.714v17.143H20.571z"
                  >
                  </path>
                  <path
                    class="stroke-current text-violet-300"
                    d="M38.858 26.993l6.397 1.73-4.473 16.549-13.24-3.58"
                  >
                  </path>
                </g>
              </g>
            </svg>
          </div>
        </div>
        <div>
          <h3 class="mb-3 text-xl font-bold text-black dark:text-white">
            [S]trategic
          </h3>
          <p>Ser estratégico, ter metas e objetivos claros.</p>
        </div>
      </div>
      <div class="flex flex-row max-w-md">
        <div class="mb-4 mr-4">
          <div
            class="flex items-center justify-center w-12 h-12 rounded-full bg-violet-500"
          >
            <svg
              class="w-12 h-12 p-0.5"
              viewBox="0 0 64 64"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g fill="none" fill-rule="evenodd">
                <rect
                  class="fill-current text-violet-700"
                  width="64"
                  height="64"
                  rx="32"></rect>
                <g stroke-linecap="square" stroke-width="2">
                  <path
                    class="stroke-current text-white"
                    d="M20.571 20.571h13.714v17.143H20.571z"
                  >
                  </path>
                  <path
                    class="stroke-current text-violet-300"
                    d="M38.858 26.993l6.397 1.73-4.473 16.549-13.24-3.58"
                  >
                  </path>
                </g>
              </g>
            </svg>
          </div>
        </div>
        <div>
          <h3 class="mb-3 text-xl font-bold text-black dark:text-white">
            [T]rackable
          </h3>
          <p>Ser mensurável e de fácil acompanhamento de evolução.</p>
        </div>
      </div>
      <div class="flex flex-row max-w-md">
        <div class="mb-4 mr-4">
          <div
            class="flex items-center justify-center w-12 h-12 rounded-full bg-violet-500"
          >
            <svg
              class="w-12 h-12 p-0.5"
              viewBox="0 0 64 64"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g fill="none" fill-rule="evenodd">
                <rect
                  class="fill-current text-violet-700"
                  width="64"
                  height="64"
                  rx="32"></rect>
                <g stroke-linecap="square" stroke-width="2">
                  <path
                    class="stroke-current text-white"
                    d="M20.571 20.571h13.714v17.143H20.571z"
                  >
                  </path>
                  <path
                    class="stroke-current text-violet-300"
                    d="M38.858 26.993l6.397 1.73-4.473 16.549-13.24-3.58"
                  >
                  </path>
                </g>
              </g>
            </svg>
          </div>
        </div>
        <div>
          <h3 class="mb-3 text-xl font-bold text-black dark:text-white">
            [A]pplicable
          </h3>
          <p>Fácil aplicabilidade, guias e documentações para instrução.</p>
        </div>
      </div>

      <div class="flex flex-row max-w-md">
        <div class="mb-4 mr-4">
          <div
            class="flex items-center justify-center w-12 h-12 rounded-full bg-violet-500"
          >
            <svg
              class="w-12 h-12 p-0.5"
              viewBox="0 0 64 64"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g fill="none" fill-rule="evenodd">
                <rect
                  class="fill-current text-violet-700"
                  width="64"
                  height="64"
                  rx="32"></rect>
                <g stroke-linecap="square" stroke-width="2">
                  <path
                    class="stroke-current text-white"
                    d="M20.571 20.571h13.714v17.143H20.571z"
                  >
                  </path>
                  <path
                    class="stroke-current text-violet-300"
                    d="M38.858 26.993l6.397 1.73-4.473 16.549-13.24-3.58"
                  >
                  </path>
                </g>
              </g>
            </svg>
          </div>
        </div>
        <div>
          <h3 class="mb-3 text-xl font-bold text-black dark:text-white">
            [R]etention
          </h3>
          <p>Reter, Inspirar e principalmente formar os melhores talentos.</p>
        </div>
      </div>

      <div class="flex flex-row max-w-md">
        <div class="mb-4 mr-4">
          <div
            class="flex items-center justify-center w-12 h-12 rounded-full bg-violet-500"
          >
            <svg
              class="w-12 h-12 p-0.5"
              viewBox="0 0 64 64"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g fill="none" fill-rule="evenodd">
                <rect
                  class="fill-current text-violet-700"
                  width="64"
                  height="64"
                  rx="32"></rect>
                <g stroke-linecap="square" stroke-width="2">
                  <path
                    class="stroke-current text-white"
                    d="M20.571 20.571h13.714v17.143H20.571z"
                  >
                  </path>
                  <path
                    class="stroke-current text-violet-300"
                    d="M38.858 26.993l6.397 1.73-4.473 16.549-13.24-3.58"
                  >
                  </path>
                </g>
              </g>
            </svg>
          </div>
        </div>
        <div>
          <h3 class="mb-3 text-xl font-bold text-black dark:text-white">
            [T]echPower
          </h3>
          <p>
            Poder tecnológico, times de desenvolvimento escaláveis, inclusivos e
            colaborativos.
          </p>
        </div>
      </div>
    </div>

    <div class="space-y-8 sm:px-8">
      <div class="flex flex-row max-w-md">
        <div class="flex flex-row max-w-md">
          <div class="mb-12 lg:mb-0 pb-12 lg:pb-0 border-b lg:border-b-0">
            <h2
              class="mb-4 text-3xl lg:text-4xl font-bold font-heading text-black dark:text-white"
            >
              Open Source Culture Framework
            </h2>
            <div class="mb-12 text-xl text-gray-600 dark:text-slate-400">
              <strong class="text-black dark:text-white">HSF # START</strong> incentiva
              através de uma estrutura inicial, a democratizar conhecimento e a construir
              culturas organizacionais baseada em valores humanos & modelo ganha-ganha
              para
              <strong class="text-black dark:text-white">Empresa</strong> e <strong
                class="text-black dark:text-white"
                >Colaborador
              </strong>. <br /><br />De um lado incentivar um caminho e uso
              ferramentas e boas práticas de mercado pra <strong
                class="text-black dark:text-white"
                >Aplicar
              </strong>, <strong class="text-black dark:text-white"
                >Metrificar
              </strong> e <strong class="text-black dark:text-white">
                Escalar
              </strong> a evolução, retenção e capacitação dos profissionais para
              a empresa.
              <br /><br />
              E do outro lado, incentivar jornadas de <strong
                class="text-black dark:text-white"
                >Formação
              </strong>, <strong class="text-black dark:text-white"
                >Capacitação
              </strong> e <strong class="text-black dark:text-white"
                >Inserção
              </strong>
              de novos profissionais de tecnologia no mercado de trabalho.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
