---
const {} = Astro.props;
---

<section
  class="px-4 py-16 mx-auto max-w-6xl lg:px-8 lg:py-20 bg-blue-50 dark:bg-slate-800"
>
  <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
    <p
      class="text-base text-blue-600 dark:text-blue-200 font-semibold tracking-wide uppercase"
    >
      EM BREVE!
    </p>
    <h2
      class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4"
    >
      Conheça o <span
        class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-pink-500 whitespace-nowrap"
      >
        START
      </span>
    </h2>
    <p
      class="max-w-3xl mx-auto sm:text-center text-xl text-gray-600 dark:text-slate-400"
    >
      Imagina um Framework que viabiliza diminuir a falta de profissionais
      qualificados no mercado de trabalho, e ainda promover a empregabilidade
      dando oportunidade para novos profissionais da área?<br /><br />
      É isso que inspira o START. Um Framework que fornece um passo a passo e ferramentas
      pra essa mudança cultural.
    </p>
  </div>
  <div class="grid mx-auto space-y-6 md:grid-cols-2 md:space-y-0">
    <div class="space-y-8 sm:px-8">
      <div class="flex flex-row max-w-md">
        <div class="mb-4 mr-4">
          <div
            class="flex items-center justify-center w-12 h-12 rounded-full bg-blue-500"
          >
            <svg
              class="w-12 h-12 p-0.5"
              viewBox="0 0 64 64"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g fill="none" fill-rule="evenodd">
                <rect
                  class="fill-current text-blue-600"
                  width="64"
                  height="64"
                  rx="32"></rect>
                <g stroke-linecap="square" stroke-width="2">
                  <path
                    class="stroke-current text-white"
                    d="M20.571 20.571h13.714v17.143H20.571z"
                  >
                  </path>
                  <path
                    class="stroke-current text-blue-300"
                    d="M38.858 26.993l6.397 1.73-4.473 16.549-13.24-3.58"
                  >
                  </path>
                </g>
              </g>
            </svg>
          </div>
        </div>
        <div>
          <h3 class="mb-3 text-xl font-bold">Simple</h3>
          <p>Ser simples, objetivos claros e alinhado.</p>
        </div>
      </div>
      <div class="flex flex-row max-w-md">
        <div class="mb-4 mr-4">
          <div
            class="flex items-center justify-center w-12 h-12 rounded-full bg-blue-500"
          >
            <svg
              class="w-12 h-12 p-0.5"
              viewBox="0 0 64 64"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g fill="none" fill-rule="evenodd">
                <rect
                  class="fill-current text-blue-600"
                  width="64"
                  height="64"
                  rx="32"></rect>
                <g stroke-linecap="square" stroke-width="2">
                  <path
                    class="stroke-current text-white"
                    d="M20.571 20.571h13.714v17.143H20.571z"
                  >
                  </path>
                  <path
                    class="stroke-current text-blue-300"
                    d="M38.858 26.993l6.397 1.73-4.473 16.549-13.24-3.58"
                  >
                  </path>
                </g>
              </g>
            </svg>
          </div>
        </div>
        <div>
          <h3 class="mb-3 text-xl font-bold">Trackable</h3>
          <p>Ser mensurável e de fácil acompanhamento.</p>
        </div>
      </div>
      <div class="flex flex-row max-w-md">
        <div class="mb-4 mr-4">
          <div
            class="flex items-center justify-center w-12 h-12 rounded-full bg-blue-500"
          >
            <svg
              class="w-12 h-12 p-0.5"
              viewBox="0 0 64 64"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g fill="none" fill-rule="evenodd">
                <rect
                  class="fill-current text-blue-600"
                  width="64"
                  height="64"
                  rx="32"></rect>
                <g stroke-linecap="square" stroke-width="2">
                  <path
                    class="stroke-current text-white"
                    d="M20.571 20.571h13.714v17.143H20.571z"
                  >
                  </path>
                  <path
                    class="stroke-current text-blue-300"
                    d="M38.858 26.993l6.397 1.73-4.473 16.549-13.24-3.58"
                  >
                  </path>
                </g>
              </g>
            </svg>
          </div>
        </div>
        <div>
          <h3 class="mb-3 text-xl font-bold">Applicable</h3>
          <p>Aplicável, ambos</p>
        </div>
      </div>

      <div class="flex flex-row max-w-md">
        <div class="mb-4 mr-4">
          <div
            class="flex items-center justify-center w-12 h-12 rounded-full bg-blue-500"
          >
            <svg
              class="w-12 h-12 p-0.5"
              viewBox="0 0 64 64"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g fill="none" fill-rule="evenodd">
                <rect
                  class="fill-current text-blue-600"
                  width="64"
                  height="64"
                  rx="32"></rect>
                <g stroke-linecap="square" stroke-width="2">
                  <path
                    class="stroke-current text-white"
                    d="M20.571 20.571h13.714v17.143H20.571z"
                  >
                  </path>
                  <path
                    class="stroke-current text-blue-300"
                    d="M38.858 26.993l6.397 1.73-4.473 16.549-13.24-3.58"
                  >
                  </path>
                </g>
              </g>
            </svg>
          </div>
        </div>
        <div>
          <h3 class="mb-3 text-xl font-bold">Retention</h3>
          <p>Reter e inspirar talentos</p>
        </div>
      </div>

      <div class="flex flex-row max-w-md">
        <div class="mb-4 mr-4">
          <div
            class="flex items-center justify-center w-12 h-12 rounded-full bg-blue-500"
          >
            <svg
              class="w-12 h-12 p-0.5"
              viewBox="0 0 64 64"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g fill="none" fill-rule="evenodd">
                <rect
                  class="fill-current text-blue-600"
                  width="64"
                  height="64"
                  rx="32"></rect>
                <g stroke-linecap="square" stroke-width="2">
                  <path
                    class="stroke-current text-white"
                    d="M20.571 20.571h13.714v17.143H20.571z"
                  >
                  </path>
                  <path
                    class="stroke-current text-blue-300"
                    d="M38.858 26.993l6.397 1.73-4.473 16.549-13.24-3.58"
                  >
                  </path>
                </g>
              </g>
            </svg>
          </div>
        </div>
        <div>
          <h3 class="mb-3 text-xl font-bold">Trading</h3>
          <p>Ser aberto a negociações, flexível para idéias e conversas.</p>
        </div>
      </div>
    </div>

    <div class="space-y-8 sm:px-8">
      <div class="flex flex-row max-w-md">
        <div class="flex flex-row max-w-md">
          <div class="mb-12 lg:mb-0 pb-12 lg:pb-0 border-b lg:border-b-0">
            <h2 class="mb-4 text-3xl lg:text-4xl font-bold font-heading">
              Open Source Culture Framework
            </h2>
            <div class="mb-12 text-xl text-gray-600 dark:text-slate-400">
              <strong>HSF START</strong> é um Framework de Cultura de Código Aberto,
              e tem o propósito democratizar uma cultura ganha-ganha e escalável
              pra Empresa e pro Profissional. De um lado fornecendo um caminho e
              ferramentas pra <strong>Aplicar</strong>, <strong
                >Metrificar
              </strong> e <strong>Escalar</strong> a evolução, retenção e capacitação
              dos profissionais para a empresa. E do outro lado, contribuindo com
              a formação e inserção de novos profissionais no mercado de trabalho.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
